<!-- Container for Child Details -->
<div class="container mt-5 center-container">
  <h1 class="text-center text-dark mb-4">Child Details</h1>
  <div class="card bg-light mb-3 rounded-lg">
    <div class="card-body">
      <h2 class="card-title text-dark mb-4">Child Info</h2>
      <div class="text-container">
        <p class="card-text h5"><strong>ID:</strong> {{ child.id }}</p>
        <p class="card-text h5"><strong>Name:</strong> {{ child.name }}</p>
        <p class="card-text h5"><strong>Date of Birth:</strong> {{ child.dateOfBirth }} ({{ calculateAge(child.dateOfBirth) }} years)</p>
      </div>
    </div>
  </div>

  <!-- Row for displaying Administered, Overdue, and Remaining Vaccines -->
  <div class="row mt-5">
    <!-- Administered Vaccines Column -->
    <div class="col-md-4">
      <div class="card bg-light mb-3 rounded-lg">
        <div class="card-header text-dark">Administered Vaccines</div>
        <div class="card-body">
          <app-vaccine-list-administered></app-vaccine-list-administered>
        </div>
      </div>
    </div>

    <!-- Overdue Vaccines Column -->
    <div class="col-md-4">
      <div class="card bg-light mb-3 rounded-lg">
        <div class="card-header text-dark">Overdue Vaccines</div>
        <div class="card-body">
          <app-vaccine-list-overdue></app-vaccine-list-overdue>
        </div>
      </div>
    </div>

    <!-- Remaining Vaccines Column -->
    <div class="col-md-4">
      <div class="card bg-light mb-3 rounded-lg">
        <div class="card-header text-dark">Remaining Vaccines</div>
        <div class="card-body">
          <app-vaccine-list-remaining></app-vaccine-list-remaining>
        </div>
      </div>
    </div>
  </div>
</div>
