<!-- Table for displaying overdue vaccines -->
<table class="table table-striped table-hover table-bordered mt-3">
  <thead class="bg-light text-dark">
  <!-- Table header row -->
  <tr>
    <th scope="col">Vaccine Name</th>
    <th scope="col">Recommended Age</th>
  </tr>
  </thead>
  <tbody>
  <!-- Loop through overdue vaccines and display each in a row -->
  <tr *ngFor="let vaccine of overdueVaccines">
    <td>{{ vaccine.name }}</td>
    <td>{{ vaccine.recommendedAge }}</td>
  </tr>
  </tbody>
</table>
